
/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/

.stick{
    height: 100px;
    width: 25px;
    background-color: black ;
}
.container{
    height: 350px ;
    width: 150px;
    background: black;
    border-radius: 7%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.light {
    border-radius: 50%;
    height: 100px;
    width: 100px;
    margin: 5px;
}
.red{
    background: red;
}

.yellow{
    background: yellow;
}

.green{
    background: green;
}
/* .glow.red{
    box-shadow: 0px 0px 9px 4px white;
}
.glow.yellow{
    box-shadow: 0px 0px 9px 4px white;
}
.glow.green{
    box-shadow: 0px 0px 9px 4px white;
} */
.glow {
    box-shadow: 0px 0px 9px 4px white;
}